<% fiability = fiability_customer(customer) %>
<% if fiability == "Faible" %>
  <td class="px-4 py-4 text-sm text-gray-500  whitespace-nowrap">
    <span class="px-2 py-1 text-sm mr-auto font-semibold text-center align-baseline rounded-lg text-black bg-yellow-100/60 bg-opacity-50 border border-yellow-500 text-yellow-500">
      <%= fiability %>
    </span>
  </td>
<% elsif fiability == "Risque élévé" %>
  <td class="px-4 py-4 text-sm text-gray-500  whitespace-nowrap">
    <span class="px-2 py-1 text-sm mr-auto font-normal text-center align-baseline rounded-lg bg-orange-100/60 bg-opacity-50 border border-orange-500 text-orange-500">
        <%= fiability %>
    </span>
  </td>
<% else %>
  <td class="px-4 py-4 text-sm text-gray-500  whitespace-nowrap">
    <span class="px-2 py-1 text-sm mr-auto font-normal text-center align-baseline rounded-lg text-black bg-red-100/60 bg-opacity-50 border border-red-500 text-red-500">
        <%= fiability %>
    </span>
  </td>
<% end %>