    <div class="hidden opacity-0 transition-opacity duration-500" data-home-target="home">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <%= render "shared/menu" %>
    </div>