<section class="bg-primary">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
      <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3 dark:text-white">
          <div class="flex flex-col items-center justify-center">
              <dt class="mb-2 text-3xl md:text-4xl font-extrabold text-black">73M+</dt>
              <dd class="font-light text-black">developers</dd>
          </div>
          <div class="flex flex-col items-center justify-center">
              <dt class="mb-2 text-3xl md:text-4xl font-extrabold text-black">1B+</dt>
              <dd class="font-light text-black">contributors</dd>
          </div>
          <div class="flex flex-col items-center justify-center">
              <dt class="mb-2 text-3xl md:text-4xl font-extrabold text-black">4M+</dt>
              <dd class="font-light text-black">organizations</dd>
          </div>
      </dl>
  </div>
</section>