<div class="bg-primary py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 pb-24">
      <h2 class="text-4xl font-bold tracking-tight text-black sm:text-6xl">Impact en Chiffres</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Des Statistiques Qui Font la Différence dans la Gestion des Réservations.</p>
    </div>
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">Réduction des NoShows</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-black sm:text-5xl">- 60%</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">Optimisation de l'Occupation</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-black sm:text-5xl">+ 30%</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">Amélioration de l'Expérience Client</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-black sm:text-5xl">+ 25%</dd>
      </div>
    </dl>
  </div>
</div>
