<div class=" bg-white rounded-lg shadow-md shadow-gray-200 lg:row-span-2">
  <div class="px-6 py-5 border-b border-gray-100">
      <h2 class="font-medium text-gray-700">NoShow par type</h2>
  </div>

  <div class="flex items-center p-8">
      <canvas class="max-w-sm" id="myChart"> </canvas>
  </div>
</div>