<div data-dropdown-target="profil" class="hidden opacity-0 transition-opacity duration-500 absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
  <!-- Active: "bg-gray-100", Not Active: "" -->

  <%= render "restaurants/connected_list" %>     
</div>