<div data-controller="modal">
  <%= render "modal" %>

  <div class="min-h-full max-h-full bg-gray-100" data-modal-target="blur">
    <%= render "header" %>
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8" >
        <%= render "table" %>
      </div>
    </main>
  </div>
</div>